@import "styles/mixin/theme";

$themes: (light: (account-details-bg-color: #222222,
        account-details-address-bg-color: rgba(0, 0, 0, 0.1),
    ),
    dark: (account-details-bg-color: #222222,
        account-details-address-bg-color: rgba(35, 27, 43, 1),
    ),
);

.account-details-wrapper {
    display: flex;

    .account-details {
        min-width: 200px;
        height: 31px;
        border-radius: 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3px 10px;
        background-color: rgba(67, 56, 81, 1);
    }
}