@import "styles/mixin/theme";

$themes: (
    light: (
        connect-wallet-bg-color: var(--modal-confirm-btn-background),
    ),
    dark: (
        connect-wallet-bg-color: var(--modal-confirm-btn-background),
    ),
);

.connect-wallet {
    &.connect-wallet-button {
        button {
            min-width: 294px;
            height: 45px;
        }
    }

    &.connect-wallet-popup {
    }
}
