@import "styles/mixin/theme";

$themes: (light: (connect-wallet-bg-color: var(--modal-confirm-btn-background),
    ),
    dark: (connect-wallet-bg-color: var(--modal-confirm-btn-background),
    ),
);

.connect-wallet {
    &.connect-wallet-button {
        button {
            @media (min-width: 1200px) {
                min-width: 294px;
            }

            @media (max-width: 1200px) {
                min-width: 150px;
            }


            height: 45px;
        }
    }

    &.connect-wallet-popup {}
}