.ui-input {
    position: relative;
    z-index: 1;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    height: 56px;
    overflow: hidden;

    &-prefix,
    &-suffix {

        // pointer-events: none;

        color: rgba(255, 255, 255, 0.5);
        font-size: var(--font-size-sm);
    }

    &-prefix {
        left: 7px;
        top: 10px;
    }

    &-suffix {
        position: absolute;
        right: 10px;
        top: 20px;
    }

    &-label {
        position: absolute;
        pointer-events: none;
        top: 15px;
        transform: translateY(-50%);
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        font-size: var(--font-size-sm);

        &.left {
            left: 10px;
        }

        &.right {
            right: 10px;
        }
    }

    input {

        background: rgba(255, 255, 255, 0);
        width: 100%;
        padding: 15px 10px 0px 10px;
        color: rgba(255, 255, 255, 0.8);
        border: 0;

        font-size: 16px;

        &.left {
            text-align: left;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        &.right {
            text-align: right;
            border-radius: 0 10px 10px 0;
            -webkit-border-radius: 0 10px 10px 0;
            -moz-border-radius: 0 10px 10px 0;
            -ms-border-radius: 0 10px 10px 0;
            -o-border-radius: 0 10px 10px 0;
        }


    }

    input:focus {
        outline: none !important;
    }

    input::-webkit-input-placeholder {
        /* WebKit browsers */
        margin: -1em;
    }

    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        margin: -1em;
    }

    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        margin: -1em;
    }

    input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        margin: -1em;
    }

    &.orange-theme {
        input:focus {
            border: 2px solid var(--totem-ui-component-color-orange) !important;
        }
    }

    &.purple-theme {
        input:focus {
            border: 2px solid var(--totem-ui-component-color-purple) !important;
        }
    }
}