.ui-input {
    position: relative;
    z-index: 1;

    &-prefix,
    &-suffix {
        position: absolute;
        pointer-events: none;
        top: 15px;
        transform: translateY(-50%);
        text-align: center;
        color: rgba(255, 255, 255, 0.5);
        font-size: var(--font-size-sm);
    }

    &-suffix {
        position: absolute;
        pointer-events: none;
        right: 7px;
    }

    &-prefix {
        left: 10px;
    }
    &-label {
        color: rgba(255, 255, 255, 0.5);
    }

    input {
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.1);
        width: 100%;
        padding: 15px 10px 5px 10px !important;
        color: rgba(255, 255, 255, 0.8);
        border: 0;
        height: 56px;
        font-size: 16px;
    }

    input:focus {
        outline: none !important;
    }

    input::-webkit-input-placeholder {
        /* WebKit browsers */
        margin: -1em;
    }

    input:-moz-placeholder {
        /* Mozilla Firefox 4 to 18 */
        margin: -1em;
    }

    input::-moz-placeholder {
        /* Mozilla Firefox 19+ */
        margin: -1em;
    }

    input:-ms-input-placeholder {
        /* Internet Explorer 10+ */
        margin: -1em;
    }

    &.orange-theme {
        input:focus {
            border: 2px solid var(--totem-ui-component-color-orange) !important;
        }
    }

    &.purple-theme {
        input:focus {
            border: 2px solid var(--totem-ui-component-color-purple) !important;
        }
    }
}
