.token-selector {
    margin: 10px 0px 0px 10px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    min-width: 120px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    &-title {}

    &-value {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.8);
    }

    &-expand {
        margin-top: -20px;
    }

    &-list {
        &-title {
            display: flex;
            justify-content: space-between;
            margin: 15px;
        }

        &-items {
            display: flex;
            flex-direction: column;
            max-height: 300px;
            overflow-y: auto;
        }

        &-item {
            background: rgba(255, 255, 255, 0.1);
            border-radius: 10px;
            display: flex;
            justify-content: space-between;
            padding: 15px;
            margin: 5px;
            cursor: pointer;
        }
    }
}

.token-add {
    &-placholder {
        min-height: 250px;
        width: 100%;
    }

    &-fotter {
        width: 100%;
    }
}