@import "styles/mixin/theme";

$themes: (
    light: (
        sidebar-bg-color: var(--color-white),
    ),
    dark: (
        sidebar-bg-color: var(--color-black),
    ),
);

.sidebar {
    border-right: 1px solid #ffffff33;

    @media (min-width: 0) and (max-width: 1200px) {
        display: none;
    }
    background-color: var(--color-background);
    position: fixed;
    height: 100%;

    @media (min-width: 0) and (max-width: 1200px) {
        width: 270px;
    }

    @media (min-width: 1200px) {
        width: 270px;
    }

    a {
        max-width: 250px;
        height: 43px;
        margin-bottom: 15px;
        margin-left: 30px;
        display: flex;
        justify-content: flex-start;
        padding: 0 5px;
        align-items: center;
        &.active {
            border-right: 5px solid var(--color-orange);
        }
        .ui-icon {
            margin-right: 5px;
        }
    }

    .active {
        img {
            filter: invert(0%) sepia(20%) saturate(3000%) hue-rotate(352deg) brightness(95%) contrast(80%);
        }
    }
}
