.ui-box {
    max-width: 511px;
    border-radius: 24px;
    padding: 30px 40px;
    background-color: var(--color-main);

    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &-title {
            font-size: var(--font-size-xl);
            font-weight: bold;
            line-height: 30px;
            color: rgba(255, 255, 255, 0.8);
        }

        &-setting {
            cursor: pointer;
        }
    }

    &-body {
        min-height: 350px;

        &-description {
            color: rgba(255, 255, 255, 0.5);
            font-size: var(--font-size-md);
            padding: 5px 0;
            font-weight: normal;
            line-height: 19px;
        }
    }

    &-footer {
        display: flex;
        justify-content: center;
        width: 100%;

        button {
            height: 56px;
            text-transform: capitalize;
        }
    }
}