.ui-button {
    color: #ffffff;
    border-radius: 12px;
    min-height: 45px;

    font-size: var(--font-size-lg);
    font-weight: bold;
    line-height: 100%;
    text-align: center;
    padding: 0 20px;
    border: none;
    outline: none;
    cursor: pointer;
    width: fit-content;

    color: rgba(255, 255, 255, 0.8);

    &-secondary {
        background: linear-gradient(180deg, #00cde4 0%, #00cde4 100%);
    }

    &-secondary-dark {
        background: #222222;
        color: #ffffff;
    }

    &-secondary-high {
        background: #473c55;
        color: rgba(255, 255, 255, 0.8);
    }

    &-outlined {
        background: transparent;
        line-height: 14px;
    }

    &-simple-outlined {
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.1);
        padding: 10px 2px;
    }

    &-list-item {
        width: 100% !important;
        background: #222832;
        text-align: left !important;
    }

    &.orange-theme {
        &.ui-button-primary {
            background-color: var(--color-orange);
        }

        &.ui-button-outlined {
            border: solid 2px #ed2a2a;
        }
    }

    &.purple-theme {
        &.ui-button-primary {
            background: linear-gradient(90deg, #9529d8 0%, #6b16c0 100%);
        }

        &.ui-button-outlined {
            border: solid 2px #6b16c0;
        }
    }

    &:disabled,
    &[disabled] {
        cursor: not-allowed;
        border: 2px solid #979797;
        background: #222222 !important;
        color: white;
    }
}
